page-home {
    .content {
        background-color: map-get($palette, color2);
        color: #FFF;
    }

    img.center {
        text-align: center;
    }
    .button {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom : 25px;
    }
}
